<h1 style='text-align: center ; margin-top:40px;'>THÊM VÉ</h1>
<form class='mt-4' method='post' action='/manage/addTicket'>
  <div class='mb-3'>
    <label for='exampleInputEmail1' class='form-label'>CLB</label>
    <input
      type='text    '
      class='form-control'
      id='exampleInputEmail1'
      aria-describedby='emailHelp'
      name='clb'
    />

  </div>
  <div class='mb-3'>
    <label for='exampleInputPassword1' class='form-label'>NGÀY THI ĐẤU</label>
    <input
      type='text'
      class='form-control'
      id='exampleInputPassword1'
      name='day'
    />
  </div>

  <div class='mb-3'>
    <label for='exampleInputPassword1' class='form-label'>GIỜ THI ĐẤU</label>
    <input
      type='text'
      class='form-control'
      id='exampleInputPassword1'
      name='time'
    />
  </div>

  <div class='mb-3'>
    <label for='exampleInputPassword1' class='form-label'>SÂN VẬN ĐỘNG</label>
    <input
      type='text'
      class='form-control'
      id='exampleInputPassword1'
      name='stadium'
      value='Hòa Xuân '
    />
  </div>

  <div class='mb-3'>
    <label for='exampleInputPassword1' class='form-label'>GIÁ VÉ</label>
    <input
      type='text'
      class='form-control'
      id='exampleInputPassword1'
      value='45000'
      name='price'
    />
  </div>

  <div class='mb-3'>
    <label for='exampleInputPassword1' class='form-label'>SỐ LƯỢNG VÉ</label>
    <input
      type='text'
      class='form-control'
      id='exampleInputPassword1'
      name='count'
    />

  </div>

  <button type='submit' class='btn btn-primary'>THÊM VÉ</button>
</form>