<!-- Block level -->
<div class='row'>
  <div class='mt-4' style='text-align: center ;'>
    Bạn đã đặt vé thành công , vé sẽ được chuyển đến số điện thoại của bạn trong
    thời gian sớm nhất
  </div>
</div>

<a href='/login/usePageLogin'><button
    type='button'
    class='btn btn-primary mt-4'
  >TRANG CHỦ</button></a>
<a href='/login'><button type='button' class='btn btn-danger mt-4'>ĐĂNG XUẤT</button></a>