<ul class='list-group mt-4'>
  <li
    class='list-group-item active'
    aria-current='true'
    style='text-align: center ;'
  >Xác Nhận Thông Tin Vé</li>
  <li class='list-group-item' style='text-align: center ;'>
    {{ticket.clb}}</li>
  <li class='list-group-item' style='text-align: center ;'> {{ticket.time}}</li>
  <li class='list-group-item' style='text-align: center ;'> {{ticket.day}}</li>
  <li class='list-group-item' style='text-align: center ;'>
    {{ticket.stadium}}</li>
  <a href='/ticket/user'><button
      type='button'
      class='btn btn-primary mt-4'
      style='text-align: center ;'
    >Tiếp Tục</button></a>
</ul>