<h2>XÁC NHẬN THÔNG TIN KHÁCH HÀNG</h2>
<form class='row g-3 needs-validation mt-4'>
  <div class='col-md-4 position-relative'>
    <label for='validationTooltip01' class='form-label'>TÊN KHÁCH HÀNG</label>
    <li class='list-group-item'>{{accout.userName}}</li>

  </div>
  <div class='col-md-6 position-relative'>
    <label for='validationTooltip02' class='form-label'>Số Điện Thoại</label>
    <li class='list-group-item'>{{accout.numberPhone}}</li>
  </div>
  <div class='col-md-6 position-relative'>
    <label for='validationTooltip03' class='form-label'>Địa Chỉ</label>
    <li class='list-group-item'>{{accout.address}}</li>

  </div>

</form>
<div class='col-12'>
  <a href='/ticket/user/save'><button class='btn btn-primary'>ĐẶT Vé</button></a>
</div>