<h1 style='text-align: center; margin-top:40px;'>ADMIN</h1>
<table class='table mt-4'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>CHỨC NĂNG</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope='row'>1</th>
      <td>QUẢN LÝ USER</td>
      <td><a href='/manage/user'><button
            type='button'
            class='btn btn-primary'
          >CHỌN</button></a></td>
    </tr>
    <tr>
      <th scope='row'>2</th>
      <td>QUẢN LÝ ĐƠN VÉ</td>
      <td><a href='/manage/buyticket'><button
            type='button'
            class='btn btn-primary'
          >CHỌN</button></a></td>
    </tr>
    <tr>
      <th scope='row'>3</th>
      <td>QUẢN LÝ VÉ</td>
      <td><a href='/manage/ticket'><button
            type='button'
            class='btn btn-primary'
          >CHỌN</button></a></td>
    </tr>

    <tr>
      <th scope='row'>4</th>
      <td>VÉ ĐÃ BÁN</td>
      <td><a href='/manage/listTicket'><button
            type='button'
            class='btn btn-primary'
          >CHỌN</button></a></td>
    </tr>
  </tbody>
</table>