<h1 style='text-align: center ;'>ĐĂNG KÝ TÀI KHOẢN</h1>
<form class='mt-4' method='post' action='/signin/accout'>
  <div class='mb-3 row'>
    <label for='inputPassword' class='col-sm-2 col-form-label'>Email</label>
    <div class='col-sm-10'>
      <input class='form-control' id='inputPassword' name='userName' />
    </div>
  </div>
  <div class='mb-3 row'>
    <label for='inputPassword' class='col-sm-2 col-form-label'>Password</label>
    <div class='col-sm-10'>
      <input
        type='password'
        class='form-control'
        id='inputPassword'
        name='passWord'
      />
    </div>
  </div>
  <button type='sumit' class='btn btn-primary' style='margin-left:800px ;'>ĐĂNG
    KÝ</button>
</form>

{{#if showErro}}
  <script>
    alert("TÀI KHOẢN ĐÃ TỒN TẠI")
  </script>
{{/if}}