<form class='d-flex' role='search' action='/search' method='get'>
  <input
    class='form-control me-2'
    type='search'
    placeholder='Search'
    aria-label='Search'
    name='search'
    autocomplete='off'
  />
  <button class='btn btn-outline-success' type='submit'>Search</button>
</form>